body {
    background-color: #e4e4e4;
    font-family: 'Crimson Pro', serif;;
}

.head {
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
    

}

.nav-item {
    font-size: 15px;
    border-bottom: 1px solid grey;
    float: left;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin: 10px;
    margin-right: 5vw;
}

.col {
    float: left;
    width: 20%;
}

a {
    text-decoration: none;
    color: black;
    

}

.nav-item:hover {
    border-bottom:none;
}

a:hover {
    color: black;
    font-style: italic;
    text-decoration: none !important;

}

#name {
    font-size: 50px;
    font-weight: bolder;
    border-bottom: none;
    padding: 20px;
    margin: 1px;
}


#name:hover {
    font-weight: bold;
    font-style: normal;
    border: 1px solid grey;
    margin: 0px;
}

.main {
    padding-top: 10vh;
}

.wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    max-width: 100%;
    opacity: 1;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 0.8;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: fixed;
    top: 5vh;
    left: 20%;
    right: 20%;
    margin-bottom: 5vh;
    display: none;
    
  }
  .container img {
      position: sticky;
  }


  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: relative;
    bottom: 0px;
    right: 0px;
    background-color: white;
    color: blue;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    z-index: 100;
  }

  .vid {
    width: 80vw;
  }